<!-- 
        <section id="categories">
        <div class="container p-5">
        <h4 class="display-4">Role</h4>
        <hr>
        <div *ngIf="!roles" class="m-auto">
            <h1 class="text-center display-3 mt-5">
            <i class="fa fa-spinner fa-spin"></i>
            </h1>
        </div>
        <div *ngIf="roles" class="list-group">
            <a *ngFor="let role of roles" class="list-group-item list-group-item-action">
            {{ role.name }}
            </a>
        </div>
          
          <div class="card bg-light mt-5">
            <div class="card-body">
              <h4 class="card-title">Add Role</h4>
              <hr>
              <div class="form">
                <div class="form-group">
                  <label>Role</label>
                  <input type="text" class="form-control" [(ngModel)]="newRole.name"/>
                </div>
                <button type="button" class="btn btn-info" (click)="addRole()" [disabled]="btnDisabled">Add Role</button>
              </div>
            </div>
          </div>
        </div>
      </section> -->

      <div class="container pb-3">
          <div class="table-wrapper">
          <div class="table-title">
              <div class="row">
              <div class="col-sm-6">
                  <h2 class="text-white">Add <b>Role</b></h2>
              </div>
              <div class="col-sm-6">
                  <a routerLink="/roles" class="btn btn-success" ><i class="fa fa-arrow-left"></i> <span>Back To Roles</span></a>
                  </div>
              </div>
          </div>
          </div>
          <app-message></app-message>
          <div class="row">
              <div class="form-group col-sm-4">
                  <label>Role Name</label>
                  <input type="text" class="form-control" [(ngModel)]="newRole.name"/>
              </div>
          </div>
          <button type="button" class="btn btn-info" (click)="addRole()" [disabled]="btnDisabled">Add Role</button>
      </div>