<div class="container pb-3">
        <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
            <div class="col-sm-6">
                <h2 class="text-white">Update <b>Brand</b></h2>
            </div>
            <div class="col-sm-6">
                <a routerLink="/brands" class="btn btn-success" ><i class="fa fa-arrow-left"></i> <span>Back To Brands</span></a>
                </div>
            </div>
        </div>
        </div>
        <app-message></app-message>
        <div class="row">
            <div class="form-group col-sm-4">
                <label>Brand Name</label>
                <input type="text" name="newBrand" class="form-control" [(ngModel)]="newBrand">
            </div>
        </div>
        <button type="button" class="btn btn-success" (click)="updateBrand()" [disabled]="btnDisabled">Update Brand</button>
              
    </div>